<!doctype html>
<html ng-app="project">
  <head>
  	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
    <script src="/js/project.js"></script>
    <script src="/js/mongolab.js"></script>
  </head>
  <body>
  	<div class="container">
  		<h2>JavaScript Projects</h2>
    	<div ng-view></div>
  	</div>
  </body>
</html>